<% provide(:title, "About") %>
<h1>About</h1>
<p>
Use this app to build the perfect quiz for your class.  
<a href="http://www.railstutorial.org/#help">Rails Tutorial help
section</a>.
To get help on this sample app click on <a #><</a>.
</p>